{% extends "::base.html.twig" %}

{% block title %}Statystyki{% endblock %}

{% block body %}
<h1>Statystyki</h1>

<div class="row">
    <div class="col-md-9">
        <h5>Wydatki dzień po dniu</h5>
        <canvas id="expensesByDay" width="820" height="200" data-values="{{ expensesByDayChartData_values }}" data-labels="{{ expensesByDayChartData_labels }}"></canvas>
    </div>    
    <div class="col-md-3">       
        <h5>Wydatki w rozbiciu na kategorie</h5>
        <canvas id="expensesByCategory" width="200" height="200" data-values="{{ categoryExpensesChartData }}"></canvas>
    </div>
</div>
{% endblock %}
